<section class="mt-12">
  <div class="relative pb-20 lg:pb-28">
    <div class="relative mx-auto max-w-7xl">
      <div class="grid gap-8 mx-auto mt-12 md:grid-cols-2 xl:grid-cols-3 lg:max-w-none">
        {% for post in collections.post | reverse %}

          <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
            <div class="flex-shrink-0">
              <img class="object-cover {{ post.data.images.align }} w-full h-48" src={% if post.data.images.thumb %}"/assets/images/{{ post.data.images.thumb }}"{% else %}"/assets/images/david-kovalenko-G85VuTpw6jg-unsplash.jpg"{% endif %} alt="{{ title }} Thumbnail">
            </div>
            <div class="flex flex-col justify-between flex-1 p-6 bg-white">
              <div class="flex-1">
                  <h3 class="mt-2 text-xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
                    {{ post.data.title }}
                  </h3>

                  {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
                  {% if structure.g_showExcerpt %}
                    <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                      {{ post.data.excerpt }}
                    </div>
                  {% endif %}
              </div>

              {# Found the TagPills are too much for this layout. Uncomment them below if you want to display them. #}
              {# <div class="flex-1 bg-gray-100">
                {% if structure.g_showTagPills %}
                  {% set tags = post.data.tags %}
                  {% include "components/tagpills.njk" %}
                {% endif %}
              </div> #}

              {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
              {# Display the Author block if structure.g_showAuthors is true (default) #}
              {% if structure.g_showAuthors %}
                {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
                {% if post.data.author %}
                  {% set postAuthor = authors | getAuthor(post.data.author) %}
                  {% include "components/authordate.njk" %}
                {% endif %}
              {% endif %}

              {% if structure.g_showSources %}
                <div class="flex items-center pt-2">
                {% if post.data.urlSpotify %}
                  <a aria-label="Link to Spotify" alt="Link to Spotify" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" href="{{ post.data.urlSpotify }}">
                    {% svg "spotify", "mr-2 h-6 w-6 fill-current", "Spotify", "footer" %}
                  </a>
                {% endif %}
                {% if post.data.urlApple %}
                  <a aria-label="Link to Spotify" alt="Link to Spotify" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" href="{{ post.data.urlApple }}">
                    {% svg "apple-podcast", "mr-2 h-6 w-6 fill-current", "Apple podcasts", "footer" %}
                  </a>
                {% endif %}
                {% if post.data.urlSpotify %}
                  <a aria-label="Link to Google podcasts" alt="Link to Google podcasts" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" href="{{ post.data.urlGoogle }}">
                    {% svg "google-podcast", "h-6 w-6 fill-current", "Google podcasts", "footer" %}
                  </a>
                {% endif %}
                </div>
              {% endif %}
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>