@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-semibold;
}
h1 {
	@apply text-4xl;
}
h2 {
	@apply pt-12 text-3xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-xl;
}
h5 {
	@apply text-lg;
}
p a,
li a,
blockquote a,
dd a {
	@apply font-medium text-indigo-700;
}
p {
	@apply mt-4;
}
.wrapper > p:first-of-type {
	@apply p-0 m-0;
}

ol {
	@apply pt-4 ml-8 list-decimal;
}
ul {
	@apply pt-4 ml-8 list-disc;
}
blockquote {
	@apply pl-4 m-4 border-l-4 border-gray-500;
}
code {
	@apply p-1 text-sm bg-gray-200 border border-gray-300 rounded-lg;
}
pre code {
	@apply bg-transparent border-0 rounded-none;
}

.bg-hero {
	background: linear-gradient(45deg, hsla(193, 60%, 80%, 0.95), hsla(162, 42%, 70%, 0.85)), url('/assets/images/home/vocas2.jpg');
	@apply bg-center bg-no-repeat;
	background-size: cover;
}

.btn {
	@apply flex items-center mb-2 w-full sm:w-auto sm:mr-4 hover:bg-white rounded py-2 px-3;
	background: rgba(255,255,255, 0.75);
	box-shadow: 0 1px 3px rgba(0,0,0, 0.1);
}

.btn:hover {
	background: rgb(255,255,255);
}
@variants responsive {
	.text-7xl {
		font-size: 4rem;
	}	

	.text-8xl {
		font-size: 5rem;
	}
}

@tailwind components;

@tailwind utilities;
